APP_ENV=production
APP_DEBUG=false
APP_URL=
APP_KEY=
DB_CONNECTION=pgsql
DATABASE_URL=
GEMINI_API_KEY=
GEMINI_ENDPOINT=
GROQ_API_KEY=
ADMIN_EMAIL=
ADMIN_PASSWORD=
SESSION_DRIVER=database
CACHE_STORE=database
